@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppens',sans-serif; 
}
body{
    background-color: var(--second-bg-color);
}
.navbar img{
    margin-left: 10rem;
    width: 100px;
}
.navbar{
    position: sticky;
    top: 80px;

    
}

a{
    text-decoration: none;
    color: white;
}
:root{
    --bg-color: #1f242d;
     --second-bg-color: #323946;
     --text-color: white;
     --main-color:#0081cf;
 }
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px,9px;
    
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
   
}
@keyframes show-content{
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.navbar .logo{
    font-size: 30px;
    font-weight: 700;
    margin-left: 50px;

}
.navbar ul{
    display: flex;
}
.navbar ul li{
    margin: 35px;;
    list-style: none;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;;

}
.navbar ul li:hover a,
.navbar ul li.active a{
    color: var(--main-color);
}
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 50px;
    padding: 60px 9% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
}
.home-info h1{
    font-size: 55px;

}
.home-info h2{
    
    font-size: 32px;
    margin-top: -10px;
    display: inline-block;
   
}

/* here bellow enables us to make our text dynamic means one after the other one   */
.home-info h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    animation: display-text 16s linear infinite;
    /* here belw we mention where our animationed text start from  */
    animation-delay:calc(-4s * var(--i)) ;
}
@keyframes display-text{
    25%,
    100%{
        display: none;
    }
}

.home-info h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid var(--main-color);
    color:var(--main-color);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}
@keyframes fill-text{
    10%,
    100% {
        width:0;
    }
    70%,
    90%{
        width: 100%;
    }

}




.home-info p{
    font-size: 16;
    margin: 10px 0 25px;
}
.home-info .btn-sci{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background:var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 40px;
    box-shadow: 0 0 10px var(--main-color);
    font-size: 16px;
    font-weight: 600;
    color: #1f242d;
    transition: .5s;
}
.btn:hover{
    background: transparent;
    box-shadow: none;
    color: var(--main-color);

}
.home-info .btn-sci .sci{
    margin-left: 20px;
}
.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--text-color);
    margin: 0 8px;
    transition: .5s;
}
.home-info .btn-sci .sci a:hover{
    background: var(--main-color);
    color: #1f242d;
    box-shadow: 0 0 10px var(--main-color);

}

.home-img .img-box{
    position: relative;
    width: 32vw;
    height: 32vw;
   
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent,transparent,transparent, var(--main-color));
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;

}
.home-img .img-box::after{
    animation-delay: -5s;
}

.container-about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:var(--bg-color);
    height: 500px;

    

}

.img img {
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    margin-left: 15px;
    margin-top: 5rem;
}



 
.About h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.9rem;
    color: var(--main-color);
    /* margin-bottom: 8rem; */
    margin-right: 10rem;
   
}
.About h2{
    font-size: 40px;
    color: var(--text-color);
    margin-bottom: 2rem
}

.About h1 span {
    font-weight: bold;
    color: var(--text-color);
}

.About p {
    float: left;
    margin-left: 10px;
    line-height: 1.6;
    color: var(--text-color);
    margin-bottom: 5rem;
    font-size: 16;
    margin: 10px 0 25px;
    font-weight: bold;
    font-family:'Poppens',sans-serif; 
} 

#portfolio {
    padding: 50px;
    background-color: var(--bg-color);
    text-align: center;
    height: 580px;
    padding-top: 7rem;
    
}

#portfolio h2 {
    font-size: 1.9rem;
    margin-bottom: 20px;
    color: var(--text-color);
}
#portfolio h4 {
    font-size: 1.9rem;
    margin-bottom: 10px;
    color: var(--text-color);
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.portfolio-item {
    background:var(--second-bg-color);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.portfolio-item img {
    max-width: 100%;
    border-radius: 4px;
}

.portfolio-item h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #0081cf;
}

.portfolio-item p {
    font-size: 1rem;
    color: var(--text-color);
}
.portfolio-item a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

.portfolio-item a:hover {
    text-decoration: underline;
    background-color: none;
    color: var(--text-color);
}

#service {
    padding: 40px;
    /* background-color: var(--second-bg-color); */
    text-align: center;
    width: 350;
    padding-top: 7rem;
    background-color: var(--bg-color);
    
}

#service h2 {
    font-size: 1.9rem;
    margin-bottom: 10px;
    color: var(--text-color);
    margin-left: 5rem;
}

.service-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.service-item {
    background-color: var(--second-bg-color);
    
    border-radius: 20px;
    padding: 15px;
    width: 300px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.service-item:hover{
    border: 2px solid var(--main-color);
}

.service-items img {
    align-items: center;
    text-align: center;
    background-color:var(--main-color);
    
    width: 80px;
    margin-left: 5rem;
}

.service-item h3 {
    font-size: 16;
    margin: 10px 0 25px;
    color: var(--text-color);
}

.service-item p {
    font-size: 16;
    margin: 10px 0 25px;
    color: var(--text-color);
}









@keyframes rotate-border{
    100%{
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    border: 1px solid #1f242d;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}
.home-img .img-box .img-item img{
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}
.bars-animation{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}
.bars-animation .bar{
    width: 100%;
    height: 100%;
    background: #1f242d;
    
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}
@keyframes show-bars{
    100%{
        transform: translateY(0%);
    }
}



/* General Section Styling */
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color); /* Light gray background */
    padding: 20px;
}

/* Form Container */
.form {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
}

/* Form Header */
.form h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: #0078D7;
}

.form h1 span {
    color: #333;
    /* Accent color */
}

/* Input Labels */
.form label {
    display: block;
    font-size: 20px;
    color: #555;
    margin-bottom: 8px;
    font-weight: 200;
}

/* Inputs and Textarea */
.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

.form input:focus,
.form textarea:focus {
    outline: none;
    border-color: #0078D7; /* Accent color on focus */
    box-shadow: 0 0 5px rgba(0, 120, 215, 0.3);
}

/* Submit Button */
.form .btn{
    display: block;
    width: 100%;
    background-color: #0078D7; /* Button background */
    color: #fff;
    border: none;
    padding: 10px 12px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form .btn:hover {
    background-color: #005bb5; /* Darker shade on hover */
}


/* Small Devices (Up to 576px) */
@media (max-width: 576px) {
    .navbar {
        /* flex-direction: column;
        padding: 10px; */
    }

    .navbar img {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .navbar ul {
        flex-direction: row;
        align-items: center;
        
    }

    .navbar ul li {
        margin: 10px 0;
        color: black;
    }

    .home {
        flex-direction: column;
        padding: 20px;
    }

    .home-info h1 {
        font-size: 15px;
        margin-top: 5rem;
    }

    .home-info h2 {
        font-size: 12px;
    }

    .home-info p {
        font-size: 15px;
    }

    .home-img .img-box {
        width: 60vw;
        height: 60dvi;
    }

    .form h1 {
        font-size: 28px;
    }

    .form label {
        font-size: 16px;
    }
    /* .home-info .btn-sci .sci a{
        width: 10%;
        height: 10%;
        

    }
    .home-info .btn-sci .sci a i{
        margin-right: 20rem;
    } */
     .btn-sci a{
        /* width: 20px;
        height: 20px;
        padding-right: 10rem;
        margin-left: 10rem;
        font-size: 10px; */
        color: white;
    } 

    .form input, 
    .form textarea {
        font-size: 12px;
    }
    .container-about{
         margin-inline: 1rem;
         font-size: 15px;
         
         /* height: 580px; */
        
    }
    .img img{
        width: 100px;
        height: 400px;
    }
    .About h1{
        font-size:15px;
        
        
    }
    .About h2{
        font-size: 30px;
    }
    #portfolio{
       height: 1500px;
    }
    #portfolio h4{
        font-size: 15px;

    }
    
}

/* Medium Devices (577px to 768px) */
@media (min-width: 577px) and (max-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-around;
    }

    .navbar img {
        margin-left: 20px;
    }

    .navbar ul {
        flex-direction: row;
    }

    .home {
        flex-direction: column;
        margin-top: 5rem;
    }

    .home-info h1 {
        font-size: 36px;
    }

    .home-info h2 {
        font-size: 24px;
    }

    .home-info p {
        font-size: 16px;
    }

    .home-img .img-box {
        width: 50vw;
        height: 50vw;
    }

    .form h1 {
        font-size: 32px;
    }

    .form label {
        font-size: 18px;
    }
    #portfolio{
        height: 1500px;
     }
     

    .form input, 
    .form textarea {
        font-size: 14px;
    }
}

/* Large Devices (769px and up) */
@media (min-width: 769px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 40px;
    }

    .navbar img {
        margin-left: 40px;
    }

    .navbar ul {
        flex-direction: row;
    }

    .navbar ul li {
        margin: 20px;
    }

    .home {
        flex-direction: row;
        padding: 60px 80px;
    }

    .home-info h1 {
        font-size: 48px;
    }

    .home-info h2 {
        font-size: 32px;
    }

    .home-info p {
        font-size: 18px;
    }

    .home-img .img-box {
        width: 30vw;
        height: 30vw;
    }

    .form h1 {
        font-size: 36px;
    }

    .form label {
        font-size: 20px;
    }
    #portfolio{
        /* height: 1100px; */
     }

    .form input, 
    .form textarea {
        font-size: 16px;
    }
}
.crollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--main-color);
    box-shadow: 0 4px 5px ;
    color: var(--text-color);
    display: inline;
    padding: 16px;
    font-size: 1.25rem;
    border-radius: .5rem;
    transition: bottom .4s,transform .4s;

}
.scrollup :hover{
    transform: translate(-5rem);
}
